{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="create-task-form">
    <input name="title" id="title" placeholder="Title" value="{{ request.form.get('title', '') }}" required>

    <input name="description" placeholder="Description" id="description">

      <select name="category_id" id="category_id" required>
        <option disabled selected>Category</option>
        {% for cat in categories %}
        <option value="{{ cat['category_id'] }}">{{ cat['name'] }}</option>
        {% endfor %}
      </select>
      
    <div class="range-container">
      <label for="priority">Priority (1-10): </label>
      <input type="range" name="priority" id="priority" min="1" max="10" value="{{ request.form.get('priority', '5') }}" required>
    </div>
      
    <div class="due-date-container">
      <label for="due_date">Due Date: </label>
      <input type="date" name="due_date" id="due_date" value="{{ request.form.get('due_date', '') }}" required>
    </div>

    <input type="submit" value="Save">
  </form>
{% endblock %}