html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 1rem;
}

body {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}


a {
  color: #377ba8;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}


nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

h2 {
  padding-left: 1em;
}

input {
  font-size: large;
  font-weight: 600;
  padding: 0.7em;
  margin: 0.7em;
  border-radius: 10px;
  border-width: 1px;
}

select {
  font-size: large;
  font-weight: 600;
  padding: 0.7em;
  margin: 0.7em;
  border-radius: 10px;
  border-width: 1px;
}

input[type="range"] {
  padding: 0;
}

input[type="range"] {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

input[type="submit"] {
  cursor: pointer;
}

label {
  justify-self: center;
}

.auth-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.auth-form-container {
  background: white;
  width: 75%;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  border-radius: 25px;
}

.auth-input {
  height: 60%;
  font-size: larger;
  font-weight: bold;
  margin: 1em;
  background-color: #4a4a4a;
  color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  flex: 1;
}

.primary-button {
  background-color: #a0a0a0;
  color: black;
}

.secondary-button {
  background-color: #4a4a4a;
  color: #a0a0a0;
}

.task-list {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}

.completed-task-list {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}

.task-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sort-category-container {
  display: flex;
  align-items: center;
  margin: 1em;
  justify-self: end;
}

.sort-category {
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
  font-weight: 700;
}

.sort-category:hover {
  border-color: #999;
}

.sort-category-label {
  font-weight: 500;
  padding-right: 1em;
}

.task-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  font-weight: 500;
  color: #333;
}

.task-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #e0e0e0;
  border-radius: 4px;
  align-items: center;
}

.completed-task-item {
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;
  padding: 0.5rem;
  margin: 0.4rem;
  background-color: #e0e0e0;
  border-radius: 4px;
  align-items: center;
}

.completed-tasks-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.task-time-remaining {
  font-weight: 600;
}

.action-button {
  background-color: #4a4a4a;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.action-button img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}

.action-button-completed {
  background-color: #4a4a4a;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  size: 1em;
  text-align: right;
}

.action-button-completed img {
  width: 10px;
  height: 10px;
  filter: invert(1);
}

.priority-factor {
  width: 150px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.priority-factor-fill {
  height: 100%;
  /* width: 30%; */
  background-color: #4a4a4a;
}

.material-symbols-outlined {
  color: whitesmoke;
}

.task-item .task-description {
  display: none;
  margin-top: 1em;
  grid-column: span 3;
}

.task-item:hover .task-description {
  display: block;
}

.return-to-tasks {
  margin: 17px;
  font-size: larger;
  align-self: center;
  align-content: center;
  text-align: center;
}

.create-task-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 60%;
  margin: 0 auto;
  font-size: larger;
  font-weight: bold;
}


.range-container, .due-date-container, .category-container {
  margin-left: 0.7em;
  margin-right: 0.7em;
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  justify-content: center;
  align-items: center;
  justify-content: center;
}




/* Timer Code Thanks to dcode */
.timer-container {
  text-align: center;
}

.timer {
  display: inline-block;
  margin: 0 auto;
  padding: 28px 32px;
  border-radius: 30px;
  background: white;
  text-align: center;
}

.timer-label {
  font-size: larger;
  font-weight: 750;
}

.timer__part {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 16px; 
}

.timer__buttons {
  margin: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; 
}

.timer__btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--reset {
  background: rgb(255, 149, 0);
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}


/* 
  body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .task > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .task > header > div:first-of-type {
    flex: auto;
  }
  
  .task > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .task .about {
    color: slategray;
    font-style: italic;
  }
  
  .task .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
    padding: 0.5em 1em;
    background-color: #377ba8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #285f86;
  }

  .task > header {
      display: flex;
      align-items: flex-end;
      font-size: 0.85em;
  }
  
  .task > header > div:first-of-type {
      flex: auto;
  }
  
  .task > header h1 {
      font-size: 1.5em;
      margin-bottom: 0;
  }
  
  .task .about {
      color: slategray;
      font-style: italic;
  }
  
  .task .body {
      white-space: pre-line;
  } */