{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="auth-form-container">
  <form method="post" class="auth-form">
    <input name="username" id="username" class="username-input" placeholder="Username" required>
    <input type="password" name="password" id="password" class="password-input" placeholder="Password" required>
    <input type="submit" class="auth-input" value="Login">
  </form>
</div>
{% endblock %}